@use "@carbon/react" with (
  $use-flexbox-grid: true
);
@use "@carbon/styles" as *;

:root {
  --cds-font-family-sans: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
}

.app-container {
  .cds--tile {
    padding: $spacing-07;
    background: var(--cds-layer-01);
    text-align: center;
    h1 {
      margin-bottom: $spacing-05;
    }
  }
}

.no-gap-grid .cds--col {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.search-btn-col .cds--btn {
  margin-top: $spacing-06;
  height: 3rem;
  width: 100%;
}
