@use "@carbon/styles" as *;

:root {
  --cds-font-family-sans: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
}

.app-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-07;
}

.app-tile {
  padding: $spacing-07;
  background: var(--cds-layer-01);
}

.app-title {
  text-align: center;
  margin-bottom: $spacing-05;
}

.weather-grid {
  margin-top: $spacing-06;
}
.searchbar-button {
  margin-top: $spacing-06;
}
