.main {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--cds-background);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.grid {
  width: 100%;
  max-width: 42rem;
  padding: var(--cds-spacing-07);
  box-sizing: border-box;
}

.centeredColumn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile {
  background-color: var(--cds-layer-01);
  box-shadow: var(--cds-box-shadow);
  border-radius: 0.5rem;
  width: 100%;
  padding: var(--cds-spacing-07);
}

.title {
  color: var(--cds-text-primary);
  text-align: center;
  margin-bottom: var(--cds-spacing-05);
}

.contentWrapper {
  width: 100%;
  max-width: 400px;

  margin: 0 auto;
}
