@use '@carbon/styles/scss/spacing' as *;
@use '@carbon/styles/scss/colors' as *;
@use '@carbon/styles/scss/theme' as *;

.home-main {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--cds-background);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-grid {
  width: 100%;
  max-width: 42rem;
  padding: $spacing-07;
  box-sizing: border-box;
}

.home-centered-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-tile {
  background-color: var(--cds-layer-01);
  box-shadow: var(--cds-box-shadow);
  border-radius: $spacing-02;
  width: 100%;
  padding: $spacing-07;
}

.home-title {
  color: var(--cds-text-primary);
  text-align: center;
  margin-bottom: $spacing-05;
}

.home-content-wrapper {
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
}

.weather-gap {
  margin-top: $spacing-06;
}
