@use "@carbon/styles/scss/spacing" as *;
@use "@carbon/styles/scss/colors" as *;
@use "@carbon/styles/scss/type" as *;

.searchbar-form {
  width: 100%;
}

.searchbar-stack {
  width: 100%;
  align-items: flex-start;
}

.searchbar-input-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.searchbar-error {
  color: $red-60;
  @include type-style("label-01");
  min-height: $spacing-04;
  margin-top: $spacing-02;
}

.searchbar-button {
  height: $spacing-09 !important;
  min-width: $spacing-09 * 2;
  margin-top: 0 !important;
  align-self: stretch;
}

.cds--search-input {
  height: $spacing-09 !important;
  box-sizing: border-box;
}
