.weather-grid {
  margin-top: var(--cds-spacing-06);
}

.weather-tile {
  background-color: var(--cds-layer);
  padding: var(--cds-spacing-07);
  border-radius: 0.5rem;
  text-align: center;
}

.weather-title {
  color: var(--cds-text-primary);
  margin-bottom: var(--cds-spacing-03);
}

.weather-tag {
  margin-bottom: var(--cds-spacing-05);
}

.weather-temp-section {
  align-items: center;
}

.weather-temp {
  color: var(--cds-text-primary);
  font-size: 2.5rem;
}

.weather-subtext {
  color: var(--cds-text-secondary);
}

.weather-details {
  margin-top: var(--cds-spacing-05);
}

.weather-info {
  color: var(--cds-text-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-right: 0.5rem;
}

.weather-description {
  color: var(--cds-text-secondary);
  margin-top: var(--cds-spacing-04);
  font-style: italic;
}

.weather-error {
  color: var(--cds-support-error);
}
